body {
	background-color: #eee;
	font-family: "Lato", sans-serif;
	margin-left: 24px;
	margin-right: 24px;
}

#text {
	font-size: 140px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.button:HOVER {
	color: black;
	background-color: white;
	border-width: 2px;
	border-color: #ff6;
}

.button {
	cursor: pointer;
	text-align: center;
	padding: 4px;
	background-color: #ff6;
	border-radius: 8px;
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	border-color: #222;
	box-shadow: 8px 8px 8px #666;
}

#toggle-button {
	width: 160px;
	margin-bottom: 24px;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#num-permutations-container {
	text-align: center;
	margin-bottom: 12px;
}

#num-permutations {
	display: inline-block;
}

#num-seen {
	display: inline-block;
}
